@charset "UTF-8";

/*CSS Document*/
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    color: #444444;
}

img {
    border: none;
}

li {
    list-style: none;
}

input, select, textarea {
    outline: none;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
    transition: color 0.3s;
}

button {
    border: none;
}

/*浮动*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.show {
    border: 1px solid red;
}
