<meta charset="UTF-8">
<!--<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>-->
<!--<link rel="stylesheet" href="../style/reset.css">-->
<!--<link rel="stylesheet" href="../style/general.css">-->
<!--&lt;!&ndash;todo 需要删掉！&ndash;&gt;-->
<link rel="stylesheet" href="../style/header.css">
<link rel="stylesheet" href="../image/icomoon.css">
<div class="header">
    <div class="header-wrapper">
        <a href="../index.php" class="fl logo"><img src="../image/logo@160.png" class="main-logo" alt="图个书服"></a>
        <div class="nav">
            <div class="fl nav-item">
                <a href="../index/learn.php">了解用户</a>
                <ul class="menu-level2-box">
                    <li><a href="../PL_1/pl_1.1.php" class="menu-level2-link">自然属性</a></li>
                    <li><a href="../PL_1/pl_1.2.php" class="menu-level2-link">社会属性</a></li>
                    <li><a href="../PL_1/pl_1.3.php" class="menu-level2-link">行为描述</a></li>
                    <li><a href="../PL_1/pl_1.4.php" class="menu-level2-link">行为偏好</a></li>
                </ul>
            </div>
            <div class="fl nav-item">
                <a href="../index/learn.php">了解资源</a>
                <ul class="menu-level2-box">
                    <li><a href="../PL_2/pl_2.1.php" class="menu-level2-link">资源概况</a></li>
                    <li><a href="../PL_2/pl_2.2.php" class="menu-level2-link">文献资源</a></li>
                    <li><a href="../PL_2/pl_2.3.php" class="menu-level2-link">电子资源</a></li>
                </ul>
            </div>
            <div class="fl nav-item">
                <a href="../index/learn.php">了解业务</a>
                <ul class="menu-level2-box">
                    <li><a href="../PL_3/pl_3.1.php" class="menu-level2-link">业务概览</a></li>
                </ul>
            </div>
            <div class="fl nav-item">
                <a href="../index/adjust.php">服务调整</a>
                <ul class="menu-level2-box">
                    <li><a href="../PA_1/pa_1.1.php" class="menu-level2-link">图书分布</a></li>
                    <li><a href="../PA_2/pa_2.1.php" class="menu-level2-link">线上资源</a></li>
                    <li><a href="../PA_3/pa_3.1.php" class="menu-level2-link">购置图书</a></li>
                    <li><a href="../PA_4/pa_4.1.php" class="menu-level2-link">系列活动</a></li>
                </ul>
            </div>
        </div>
        <div class="search-box fr">
            <input class="query-input fl" type="text" placeholder="请输入检索内容">
            <button class="search-button" onclick="query()"><span class="icon-search"></span></button>
        </div>
    </div>
</div>