@font-face {
  font-family: 'icomoon';
  src:  url('icomoon/icomoon.eot?slr4jx');
  src:  url('icomoon/icomoon.eot?slr4jx#iefix') format('embedded-opentype'),
    url('icomoon/icomoon.ttf?slr4jx') format('truetype'),
    url('icomoon/icomoon.woff?slr4jx') format('woff'),
    url('icomoon/icomoon.svg?slr4jx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus-circle:before {
  content: "\e900";
}
.icon-x-circle:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e986";
}
.icon-equalizer2:before {
  content: "\e993";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-pie-chart:before {
  content: "\e99a";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-point-right:before {
  content: "\ea04";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
